# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# IDE/project files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Large model files & datasets
weights/
data/
Outputs/

# Logs
*.log

# Temporary files
*.temp
*.tmp
